.side-nav{
    background-color: rgba(0, 0, 0, 0.801);
    height: 100vh;

}
.list-heading{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333333;
    text-align: left;
    color: white;
    font-size: 16px;
}
.list-heading a{
    color: white;
    text-decoration: none

}