.header{
    height: 60px;
    background: #000;
}
.signin-link{
    color: rgb(255, 255, 255)!important;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
    .header{
        height: 60px;
        background: #fff!important;
    }
}
